doctype html
html(lang='en')
  
  head

    meta(charset='utf-8')
    base(href='/')

  body
    
    div(class="cyto" data-sketch='sketch-example')
    
    //all scripts loaded via requirejs
    script(src='/requirejs/require.js' data-main='scripts/main')
