doctype html
html(lang='en')
  
  head

    meta(charset='utf-8')
    base(href='/')

  body
    
    canvas(id="sketch" data-sketch='arcs')
    
    //all scripts loaded via requirejs
    script(src='/requirejs/require.js' data-main='scripts/main')
