doctype html
html(lang='en')
  
  head
    title= title
    base(href='/')
    meta(charset='utf-8')
    
    link(href='/styles/normalize.css', rel='stylesheet')
    link(href='/styles/main.css', rel='stylesheet')

  body
    
    canvas(id="cyto" data-sketch='arcs')
  
    script(src='lib/cyto.js')
    
    //TODO: dynamically inject when running grunt dev
    script(src='//localhost:35729/livereload.js')
    
    script.
      window.onload = function() { cyto('canvas', 'cyto') };
